body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}

section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
}

.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blocked-container span {
  max-width: 55%;
}

.container {
  min-width: 400px;
  box-shadow: 0px 0px 43px 17px rgb(153 153 153);
  height: fit-content;
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid#999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid#999;
}

.button {
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#equal {
  background-color: rgb(85, 85, 255);
  color: white;
}

.button:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}

.logs-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  width: 50%;
}

.blocked-container {
  text-align: center;
}

table {
  width: 100%;
}

table,
td {
  border: 1px solid black;
}

.download {
  background-color: rgb(85, 85, 255);
    color: white;
    padding: 15px;
    line-height: 1.35;
}

.displayNone {
  display: none;
}
